$width: 790px;
$mastheadOffset: 50px;

body, html {
  font-family: "museo-slab",serif;
}
h1 {
  font-family: "museo-slab",serif;
  font-weight:700;
  font-size:3.6em;
  margin:0.2em 0em;
}

h3 {
  font-family: "museo-slab",serif;
  font-weight:300;
  font-size:1.2em;
  margin:0.2em 0em;
}
.masthead {
  padding-top:70px;
  margin-left:-$mastheadOffset;
  margin-right:auto;
  margin-top:0px;
  width:$width;
  background: url('/images/bin/clinton_masthead.png');
  background-repeat:no-repeat;
  background-position: right bottom;
}
.subtitle {
  position:relative;
  top:-13px;
  left:-15px;
  margin-top:-0.3em;
}
.container {
  width:790px;
  margin: 0 auto;
  text-align:center;

  input {
    width:100%;
  }
}
.search {
  width:$width - ($mastheadOffset * 1.5);
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  height:50px;
  position:relative;
  background:#0e233e;
}
#search {
  font-family: "museo-slab",serif;
  font-size: 16px;
  margin-top: 10px;
  width:360px;
  padding:0 5px;
  border:none;
  line-height:30px;
}

#search_spinner {
  display:none;
  width:20px;
  height:20px;
  position:absolute;
  left: 516px;
  top: 14px;
}
#search_results, ul {
  list-style-type:none;
  display:none;
  position:relative;
  margin: 0 auto;
  top:0;
  border: 1px solid #aaa;
  border-top:none;
  width:360px;
  padding:0;
}
.result {
  background: #eee;
  border-bottom: 1px solid #ddd;
}
.decision {

  background: white;
  float:left;
  img {
    z-index:5;
    height:190px;
    width:190px;
    padding:10px;
  }
}

.result {
  padding:0px;

  margin: 0 auto;
  img {
    padding: 7px;
    width:65px;
    height:65px;
    float:left;
  }
  .info {
    text-align:left;
    padding-top:5px;
    margin-left:80px;
    height:75px;
    .artist {
      color: #555;
      font-size:90%;
    }
  }

}
.itemhover {
  background: #265da5;
  .artist {
    color:#eee !important;
  }
  .album {
    color:white !important;
  }
}


#records {
  width:700px;
  margin-top: 25px;
  margin-bottom:25px;
  margin-left:auto;
  margin-right:auto;

  #instructions {
    float:left;
    width:225px;
    height:400px;
    margin-top: 10px;
    padding-right:15px;
    #message {

      font-size:24px;
    }

    #remaining, #remaining_message {
      z-index:-1;
      color:#ddd;
      font-weight:700;
    }
    #remaining {
      font-size:136px;
      line-height:110px;
    }
    #remaining_message {
      font-size:18px;
    }
  }

  #preview {
    float:left;
    padding-left: 24px;
    height: 400px;
    width:430px;
    border-left: 1px solid #ddd;

    .no_records {
      padding: 180px 0;
      margin:0 auto;
      color: #bbb;
    }

  }
}
#records:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

button {
  font-family: "museo-slab",serif;
  font-size:18px;
  margin-top: 15px;
  color: white;
  background-color: #0e233e;
  border:none;
  padding: 8px 15px;
  font-weight: bold;
  margin-left: 0;
}
#spinner {
  margin-top: 100px;
  margin-bottom: 100px;
}
#final {
  margin:0 auto;
  width:465px;
  height:683px;

  .options {
    position:absolute;
    padding-top: 200px;
    display:none;
    width:465px;
    height:483px;
  }

  .link {
    padding: 15px 0;
    color:black;
    font-size: 16px;
    background: rgba(255,255,255, 0.7);
    width: 150px;
    margin: 10px auto;
  }
}
#final:hover {
  .options {
    display:block;
    background-color: rgba(0,0,0, 0.5);
  }
  .link:hover{
    color:white;
    background:rgba(0,0,0,1.0);
  }
}
a {
  color:black;
  text-decoration:none;
}

.footer {
  height:80px;
  p {
    font-size: 12px;
  }
}

