{{#contentFor "pageJs"}}
  <script type="text/javascript" src="/js/bin/home.js"></script>
{{/contentFor}}

{{> search_bar}}

<div id="records">
  <div id="instructions">
    <span id="message">Step 1 - Search and Add four albums<br/><br/>Step 2 - Click generate swag</span>
    <br/>
    <br/>
    <br/>
    <br/>
    <span id="remaining">4</span><br/>
    <span id="remaining_message">Albums to go...</span>
  </div>
  <div id="preview">
    <div class="no_records">Really?! You have no favourite records?</div>
  </div>
</div>
