<div class="search">
</div>
<div id="records">
  <div id="final" style="background-image: url('{{ swag.photo_url }}')">
    <div class="options">
      <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.billclintonswag.com/swag/{{ swag.id }}&t=Bill%20Clinton%20Swag" onClick=" window.open(this.href, 'sharefb', 'toolbar=0, status=0, width=480, height=420'); return false;"><div class="link">Facebook</div></a>
      <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.billclintonswag.com/swag/{{ swag.id }}&text=And+you+thought+Obama+was+swag&hashtags=BillClintonSwag" onClick=" window.open(this.href, 'sharetwitter', 'toolbar=0, status=0, width=420, height=360'); return false;"><div class="link">Twitter</div></a>
      <a href="{{ swag.photo_url }}"><div class="link">Download</div></a>
    </div>
  </div>
</div>
