<div class="search">
  <input id="search" type="text" placeholder="Search for an Album"></input>
  <img id="search_spinner" src="/images/bin/ajax-loader.gif"></img>
  <ul id="search_results">
  </ul>
</div>

